/** Fonts **/
body {
    font-family: Roboto Slab, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
}

h3 {
    color: #555;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -2px;
    font-family: Montserrat;
}

A	{
    text-decoration: none;
    color: #fff;
}
A:visited	{
    text-decoration: none;
    color: #fff;
}
A:active	{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 3px 2px black;
}
A:hover	{
    text-decoration: none;
    color: #999;
}

input {
    color: #fff;
}

body, html { 
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center
}

.bg {
    background-image: url(../img/bgTop.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-width: 480px;
    width: 100vw;
    height: 70%;
    position: absolute;
    margin: 0;
    padding: 0;
}

.bgblacking {
    position: absolute;
    background-color: #000;
    height: 70%;
    width: 100%;
    opacity: 0.5
}

header {
    height: 70%;
}

.logo {
    font-family: Montserrat;
    font-weight: bold;
    margin: 2rem 8rem;
    font-size: 24px;
    letter-spacing: -2px;
}

.navigation ul li {
    color: #fff;
    font-family: Montserrat;
    font-weight: 400;
    display: inline-block;
    margin: 3% 1%;
    font-size: 14px;
    letter-spacing: -0.5px;
    opacity: 0.7;
}

.startup {
    font-family: Montserrat;
    font-size: 3.8rem;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 20vh;
}

.favoriteTemplate {
    font-family: Roboto Slab;
    text-align: center;
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
}

.get-started {
    background: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0px;
    margin-top: 20px;
    margin-left: -1.5em;
    padding: 10px 35px;
    opacity: 0.7;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    z-index: 2;
}
.get-started:hover {
    opacity: 1;
    color: #fff;
    z-index: 2;
}
.get-started:active {
    opacity: 0.5;
    color: #000;
}

@media screen and (max-width: 991px) {
    .startup {
        width: auto;
        margin-top: 80px;
    }
    .get-started {
        margin-left: 37%;
    }
    .navigation ul li {
        font-size: 12px;
        float: right;
        margin-top: -30px;
    }
}

@media screen and (max-width: 520px) {
    .navigation ul li {
        display: none;
    }
}

.services {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 900;
    letter-spacing: -2px;
    color: #555;
    margin: 4em auto 1.5em 0;
}
.line {
    border-bottom: 1px solid #555;
    padding-bottom: 1em;
}

.servparagraph {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5em;
}

.image-red {
    border-radius: 50%;
    background-color: #c0301c;
    height: 90px;
    width: 90px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    font-family: Roboto Slab;
    text-align: center;
    margin-left: 40%;
}
.image, .Rock-Solid-Code {
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    height: 90px;
    width: 90px;
    color: #c0301c;
    font-size: 60px;
    font-weight: 400;
    font-family: Roboto Slab;
    text-align: center;
    margin-left: 40%;
    padding: 0;
}

.Rock-Solid-Code {
    font-size: 70px;
    letter-spacing: -6px;
    text-align: center;
    padding: 0px auto;
    
}